.shoptour__title {
  max-width: 1000px;  margin: 0 auto;
}
.shoptour__info {
  max-width: 1400px;
  margin: 0 auto;
}
.shoptour__list {
  max-width: 700px;
  margin: 0 auto;
}
.list-shoptour__item {
  font-size: 22px;
  font-family: Roboto;
  margin: 0 0 20px 0;
}
.list-shoptour__item:last-child {
  margin: 0;
  font-family: Caviar Dreams;
}
.list-shoptour__item:nth-last-child(2) {
  font-family: Caviar Dreams;
}
@media screen and (max-width: 400px) {
  .shoptour__title {
    line-height: 25px;
  }
}
@media screen and (max-width: 840px) {
  .list-shoptour__item {
    font-size: 16px;
    line-height: 20px;
  }
}
