@font-face {
  font-family: "Caviar Dreams";
  src: url(fonts/CaviarDreams.ttf) format("truetype");
}
@font-face {
  font-family: "Roboto";
  src: url(fonts/Roboto-Light.ttf) format("truetype");
}
body {
  background-color: #eed6c4;
}
.header {
  font-family: Caviar Dreams;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: #fff3e4;
  margin: 0 0 50px 0;
}
.header__content {
  padding: 20px;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  max-height: 50px;
  max-width: 250px;
}
.header__logo img {
  width: 100%;
  height: 100%;
}
.header__menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-header__item {
  margin: 0 15px 0 0;
  font-size: 18px;
  position: relative;
  padding: 0 0 5px 0;
}
.menu-header__item:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 20%;
  opacity: 0;
  width: 100%;
  height: 1px;
  border-bottom: 0px solid #000;
  -webkit-box-shadow: inset 0px -1px 0px 0px #000;
  -moz-box-shadow: inset 0px -1px 0px 0px #000;
  box-shadow: inset 0px -1px 0px 0px #000;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.menu-header__item:hover:after {
  opacity: 1;
  bottom: 0px;
}
.menu-header__item:last-child {
  margin: 0;
}
.menu-header__item a {
  color: #000;
}
.header__burger {
  display: none;
}
@media screen and (max-width: 1030px) {
  .menu-header__item {
    margin: 0 10px 0 0;
  }
}
@media screen and (max-width: 980px) {
  .menu-header__item {
    font-size: 16px;
  }
}
@media screen and (max-width: 910px) {
  .header__logo {
    max-height: 50px;
    max-width: 200px;
  }
}
@media screen and (max-width: 850px) {
  .header__logo {
    max-height: 50px;
    max-width: 180px;
  }
}
@media screen and (max-width: 830px) {
  .header__logo {
    max-height: 50px;
    max-width: 150px;
  }
}
@media screen and (max-width: 790px) {
  body.lock {
    overflow: hidden;
  }
  .header__burger {
    display: block;
    position: absolute;
    cursor: pointer;
    top: 30px;
    right: 10px;
    width: 30px;
    height: 19px;
    z-index: 2;
  }
  .header__burger:before,
  .header__burger:after {
    content: "";
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 2px;
    right: 0;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger span {
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 2px;
    right: 0;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
    background-color: #000;
  }
  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
    background-color: #000;
  }
  .header__burger.active span {
    background-color: #000;
    transform: scale(0);
  }
  .header__menu {
    padding: 150px 0 0 0;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 70px;
    left: 0;
    background-color: #eed6c4;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease 0s;
    z-index: 2;
    flex-direction: column;
    justify-content: flex-start;
  }
  .header__menu.active {
    opacity: 1;
    visibility: visible;
  }
  .menu-header__item {
    font-size: 25px;
    margin: 0 0 20px 0;
  }
}
.info {
  font-family: Caviar Dreams;
  padding: 0 30px;
}
.info__conent {
  max-width: 1200px;
  margin: 0 auto;
}
.info__title {
  font-size: 40px;
  text-align: center;
  margin: 0 0 50px 0;
}
.info__image {
  max-width: 300px;
  height: 475px;
  margin: 0 0 50px 0;
}
.info__image img {
  width: 100%;
  height: 100%;
}
.info__subtitle {
  font-size: 30px;
  text-align: center;
  margin: 0 0 50px 0;
}
.info__text {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.text__item {
  font-size: 18px;
  font-family: Roboto;
  line-height: 20px;
}
.text__item div {
  margin: 0 auto 10px auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #000;
  background-color: #6b4f4f;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1102px) {
  .info__title {
    font-size: 35px;
  }
}
@media screen and (max-width: 980px) {
  .info__text {
    grid-template-columns: 1fr 1fr;
  }
  .info__title {
    font-size: 30px;
  }
  .info__subtitle {
    font-size: 25px;
  }
}
@media screen and (max-width: 842px) {
  .info__text {
    grid-template-columns: 1fr 1fr;
  }
  .info__title {
    font-size: 25px;
    margin: 0 0 30px 0;
  }
  .info__subtitle {
    font-size: 20px;
    margin: 0 0 30px 0;
  }
}
@media screen and (max-width: 780px) {
  .info__text {
    grid-template-columns: 1fr;
  }
  .info__title {
    font-size: 25px;
    margin: 0 0 30px 0;
  }
  .info__subtitle {
    font-size: 20px;
    margin: 0 0 30px 0;
  }
  .text__item {
    padding: 0 35px;
  }
}
@media screen and (max-width: 720px) {
  .text__item {
    font-size: 15px;
  }
  .info__title {
    font-size: 25px;
  }
  .info__subtitle {
    font-size: 20px;
  }
}
@media screen and (max-width: 570px) {
  .text__item {
    padding: 0 10px;
  }
}
@media screen and (max-width: 420px) {
  .info__title {
    font-size: 19px;
  }
  .info__subtitle {
    font-size: 15px;
  }
}
