@font-face {
    font-family: Made The Art Script;
    src: url("fonts/MADE TheArtist Script PERSONAL USE.otf") format("opentype");
}
@font-face {
    font-family: Caviar Dreams;
    src: url("fonts/CaviarDreams.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
}
html {
    background-color: rgb(102, 48, 9);
}
.header {
    background-color: rgb(32, 15, 3);
    padding: 10px;
    font-size: 30pt;
    height: auto;
}
#content {
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.63);
    margin: 0px 75px 0px 75px;
    min-height: 100vh;
    background-color: rgb(157, 117, 76);
}
#links {
    float: right;
}
.button{
    vertical-align: middle;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    padding: 5px;
    border-width: 0px;
    outline: 0px;
}
#stl {
    font-size: 3vw;
    color: rgb(212, 175, 55);
    font-family: Caviar Dreams;
}
.imgB {
    width: 50px;
    height: 50px;
}
.imgP {
    text-align: center;
}
#pt {
    float: left;
    font-family: Caviar Dreams;
    font-weight: bold;
    font-size: 20pt;
}
.flexible_image {
    max-width: 48%;
}

@media screen and (max-width: 720px){
    #content{margin: 0px 0px 0px 0px}
    .flexible_image{width:48%}
}
